tmp
*.gcda
*.gcno
*.info
*.o
*.cf
*.tmp
*.csv
*.txt
*.project
*.pyc
*.s
*.xml
*.ghw
*.zip
*.log
build/
sim_build/
__pycache__/
.pytest_cache/
*_prj
uniform_top
*.npmrc
node_modules
vivado_prj
*.jou
!version.txt

*lock.json

normal32_hls
normal64_hls
gen_IP*


